<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Records</title>
</head>
<body>
    <center>
        <h1>Records</h1>
        <table border="3px">
            <tr>
                <th>id/pk</th>
                <th>Name</th>
                <th>Author</th>
                <th>Date</th>
            </tr>
            <tbody>
                {% for ob in LRO %}
                    <tr>
                        <td>{{ob.id}}</td>
                        <td>{{ob.name.name}}</td>
                        <td>{{ob.author}}</td>
                        <td>{{ob.date}}</td>
                    </tr>                    
                {% endfor %}
            </tbody>
        </table>
    </center>
</body>
</html>